@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  background: #AFD4C0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 10vh;
  background: #519872;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
header img {
  width: 50px;
  height: auto;
}
.title-holder {
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
}
.dashboard-holder {
  min-height: 100vh;
  width: 60%;
  background: #E5F4EC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-title-holder {
  height: 15vh;
  width: 90%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
}
.home-listings-holder {
  height: 10vh;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
}
.house-holder {
  height: 30vh;
  width: 90%;
  background: #DEDEDE;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-right: 5px;
}

.img-holder {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-holder img {
  width: 95%;
  height: 70%;
}

.property-holder {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  font-size: 1.2rem;
}

.price-holder {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  font-size: 1.2rem;
}

.delete-holder {
  width: 4%;
  height: 100%;
}
.new-listing-holder {
  width: 60vw;
  min-height: 100vh;
  background: #E5F4EC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.new-listing-title-holder {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 1.5rem;
}

.input-holder {
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-holder input {
  width: 200px;
}
.input-holder-img {
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
}

.input-holder-img input {
  width: 200px;
}
.input-holder-price {
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.input-holder-price input {
  width: 200px;
}